<!DOCTYPE html>
<html lang="es-Es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forja Empresas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"rel="stylesheet">
    <script src="https://kit.fontawesome.com/3377be9db6.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../assets/img/forja-favicon.png">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">

</head>

<body id="dash">
    <section class="main">
        <article class="izq">
            <img src="../assets/img/0. logoforja.png">
            <div class="botones">
                <button class="btn1"><a href="Pacientes/pacientes.html"><i
                            class="fa-solid fa-users"></i><br>Pacientes</a></button>
                <button class="btn2"><a href="#"><i class="fa-solid fa-syringe"></i><br>Vacunacion</a></button>
                <button class="btn3"><a href="../index.html"><i class="fa-solid fa-power-off"></i><br>Cerrar
                        sesion</a></button>
            </div>
        </article>


        <article class="dere">
            <div class="sesion">
                <i class="fa-solid fa-user fa-user1 fa-2x"></i>
                <p>Carolina Loaiza</p>
            </div>

            <div class="form-group">
                <h1>BIENVENIDOS</h1>
                <div class="rellenar1">
                    <label for="documento" class="form-doc"></label>

                    <input type="number" name="usuario" id="usuario" class="form-input"
                        placeholder="Digite el numero de documento">
                    <a id="btn-search"><i class="fa-solid fa-magnifying-glass fa-iconos"></i></a>
                    <a href="#"><i class="fa-solid fa-rotate-right fa-iconos"></i></a>
                </div>
                <img src="../assets/img/" alt="">
            </div>
            
            <!---------------------------------------------------------------------------------->
            <!----------------------MODAL: Caso 1 - 52368795--------------------------------------->
            <section id="modalCaso1" class="modal">
                <div class="modalContainer">
                    <figure class="modalPicture">
                        <img src="img/0. logoforja.png" class="modalImg" alt="">
                    </figure>
                    <p class="modalP">
                        No. de dosis: <span class="tab">1ra</span>
                        <br>
                        Biologico: <span class="tab2">Vacuna Pfizer</span>
                        <br>
                        Fecha 1ra Dosis: <span class="tab3">10 - 02 -2021</span>
                    </p>
                    <div class="buttons">
                        <button class="btn-1"><a href="./Pacientes/actualizar.html">Registrar 2da Dosis</button></a>
                        <button class="btn-2"><a href="#">Cancelar</button></a>
                    </div>
                </div>
            </section>
            <!---------------------------------------------------------------------------------->
            <!----------------------MODAL: Caso 2 - 1001235478---------------------------------->
            <section id="modalCaso2" class="modal">
                <div class="modalContainer">
                    <figure class="modalPicture">
                        <img src="img/0. logoforja.png" class="modalImg" alt="">
                    </figure>
                    <p class="modalP">
                        No. de dosis: <span class="tab">1ra</span>
                        <br>
                        Biologico: <span class="tab2">Vacuna Pfizer</span>
                        <br>
                        Fecha 1ra Dosis: <span class="tab3">10 - 02 -2021</span>
                        <br><br>
                        No. de dosis: <span class="tab">2ra</span>
                        <br>
                        Biologico: <span class="tab2">Vacuna Pfizer</span>
                        <br>
                        Fecha 2ra Dosis: <span class="tab3">23 - 04 -2021</span>
                    </p>
                    <div class="buttons">
                        <button class="btn-1"><a href="./Pacientes/actualizar.html">Si, gracias</button></a>
                        <button class="btn-2"><a href="#">Cancelar</button></a>
                    </div>
                </div>
            </section>
            <!---------------------------------------------------------------------------------->
            <!----------------------MODAL: Caso 3 - 25413574------------------------------------->
            <section id="modalCaso3" class="modal">
                <div class="modalContainer">
                    <figure class="modalPicture">
                        <img src="img/0. logoforja.png" class="modalImg" alt="">
                    </figure>
                    <p class="modalP">
                        Este usuario tiene el esquema de vacunación completo
                        <br><br>
                        No. de dosis: <span class="tab">1ra</span>
                        <br>
                        Biologico: <span class="tab2">Vacuna Pfizer</span>
                        <br>
                        Fecha 1ra Dosis: <span class="tab3">10 - 02 -2021</span>
                        <br><br>
                        No. de dosis: <span class="tab">2ra</span>
                        <br>
                        Biologico: <span class="tab2">Vacuna Pfizer</span>
                        <br>
                        Fecha 2ra Dosis: <span class="tab3">23 - 04 -2021</span>
                        <br><br>
                        No. de dosis: <span class="tab">3ra</span>
                        <br>
                        Biologico: <span class="tab2">Vacuna Pfizer</span>
                        <br>
                        Fecha 3ra Dosis: <span class="tab3">01 - 07 -2021</span>
                    </p>
                    <div class="buttons">
                        <button class="btn-2"><a href="#">Cancelar</button></a>
                    </div>
                </div>
            </section>
            <!---------------------------------------------------------------------------------->
            <!----------------------MODAL: Caso 4 - 1007203506------------------------------------->
            <section id="modalCaso4" class="modal">
                <div class="modalContainer">
                    <figure class="modalPicture">
                        <img src="img/0. logoforja.png" class="modalImg" alt="">
                    </figure>
                    <p class="modalP">Este usuario no tiene registro de vacunacion.</p>
                    <div class="buttons">
                        <button class="btn-1"><a href="../views/Pacientes/newU.html">Registrar<br>vacunacion</button></a>
                        <button class="btn-2"><a href="#">Cancelar</button></a>
                    </div>
                </div>
            </section>
            <!---------------------------------------------------------------------------------->
        </article>


    </section>
    </section>
<script src="../assets/js/interacciones.js"></script>
</body>

</html>