@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    
    margin: 0;
    padding: 0;
}
:root{
    --rufous-color: #a40101;
    --viriGreen-color: #2ca3ab;
    --silver-color: #c4c4c4;
    --safOranBlOr-color: #f3610e;
    --spaceCadet-color: #1d1b45;
    --CadetC-color: rgb(11, 87, 149);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

h1, h2, h3{
    font-family: 'Poppins', sans-serif;
    color: var(--dark-color);
}

p{
    color: var(--dark-color);
    text-align: justify;
}
/*------------------------------ |HEADER| -----------------------------*/
header{
    display: flex;
    flex-wrap: wrap;
}

.fa-iconHead{
    background-color: var(--safOranBlOr-color);
    padding: 6px 6px;
    border-radius: 50%;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0);
}

#info{
    width: 100%;
    display: flex;
    font-weight: lighter;
}

.tel{
    display: flex;
    margin: 0 1rem 0 29rem;
    align-items: center;
    
}

.tel p{
    text-align: left;
    padding-left: 1.5rem;
    padding-bottom: 0.1rem;
    font-weight: 300;
    width: 8rem;
    
}

.ubi{
    display: flex;
    margin: 2rem 0 2rem 4rem;
    align-items: center;
}

.ubi p{
    text-align: left;
    padding-left: 1.5rem;
    padding-bottom: 0.1rem;
    font-weight: 300;
    width: 20rem;

}

.bs{
    margin-top: 2rem;

}

.btn-login{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 9.5rem;
    height: 2rem;
    background-color: var(--CadetC-color);
    border-style: none;
    border-radius: 15rem;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.1s;
}


.btn-login a{
    margin:20px 0;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}

.btn-login:hover{
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.61);
    cursor: pointer;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 0.1rem 0.6rem 1rem 3rem;
}

.logoForja{
    padding-left: 10px;
    padding-right: 1rem;
}

.lE{
    width: 60%;
    height: 50%;
    padding-left: 100px;
}

.fa-icon{
    color: var(--safOranBlOr-color);
}
/*----------------------------------- |SECCION 1|--------------------------------------*/
.seccion1{
    background-image: url("../img/2.\ medico.png"); 
    background-size:cover;
    height:320px;
    padding: 9rem 1rem 1rem 10rem;
    flex-direction: column;
}

.seccion1 h2{
    font-size:40px;
    font-weight: 300;
    font-weight: 500;
    color: rgb(216, 118, 53);
    letter-spacing: -2px;
    padding-left: 1rem;
}

.seccion1 h1{
    font-size:50px;
    font-weight: 400;
    padding: 0 10rem;
    margin-top: 2px;
}
.seccion1 .btn-login{
    display: flex;
    align-items: center;
    
    margin-top: 0.2rem;
    margin-left: 12rem;
    
    padding-left: 12px;
}

#franjaN{
    width: 100%;
    height: 100%;  
    margin: 0;
}

/*----------------------------------- |SECCION 2|--------------------------------------*/

.seccion2{
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),url("../img/4.\ covid.jpeg");
    background-size:cover;
    height:320px;
    display: flex;
    margin: 0;
    padding: 2rem 2rem;
    
}
.seccion2 h1{
    font-size: 25px;
    font-weight: 400;
    color: var(--CadetC-color);
}

.fa-flecha{
    background-color: var(--rufous-color);
    border-radius: 50%;
    padding: 5px 8px;
    color: white;
    margin: 2px 1rem;
}


.fa-qs{
    background-color: var(--rufous-color);
    border-radius: 50%;
    padding: 18px 12px;
    color: white;
    margin: 2px 1rem;
}


.tabla1{
    width: 60%;
}

.tabla1 ul li, .tabla2 p{
    margin: 1rem 5rem;
    font-size: 17px;
    font-weight: 200;
    list-style: none;
    vertical-align: center;

}

.fa-lg{
    margin: 0.5rem 1rem;
    color: rgb(177, 0, 0);
 }

.tabla2{
    width: 50%;
}

.tabla2 img{
    width: 20%;
    display:block;
    margin:auto;
}

.tabla2 a{
    margin-left: 10rem;
}

.qst{
    background-color: rgb(51, 51, 51);
    margin-bottom: 1rem;
}

.qst p{
    background-color: rgb(27, 27, 36);
    margin-bottom: 0.8rem ;
    padding: 0.5rem;
    
}

.qst a{
    text-decoration: none;
    color: white;
}

.footer .footer1{
    background-color: black;
    padding: 0px 10px 20px 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-align: center;
    vertical-align: top;
    font-size: 13px;
}
/*--------------------------- |LOGIN|-------------------------------*/
#loggg{
    background-image: url("../img/10.png");
    background-size: cover;
    justify-content: center;
    align-items: center;

}
#logg .btn-login{
    
    background-color: var(--spaceCadet-color);
    border-color: #2CA3AB;
    border-style: solid;
    padding: auto 1rem auto auto;
    border-radius: 10px;
    margin: 1.5rem 50rem 1rem 50rem; 
}
#log{
    background-color: white;
    align-items: center;
    margin: 1.5rem 28rem;
    width: 510px;
    height: 500px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0);
}

.login .logo{
    background-color: rgb(173, 230, 206);
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}



.login .logo img{
    display:block;
    margin:auto;
}

.form1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.form1 .form-group {
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
}

.form1 .form-group a{
    color: black;
}

.form1 .form-label{
    margin: 0.5rem;
    font-size: 20px;
}

.form1 .form-input{
    border: 2px solid rgb(173, 230, 206);
    background-color: rgba(173, 230, 211, 0.459);
    width: 20rem;
    border-radius: 15px;
    padding: 0.5rem;
    outline: none;
}

.form1 .form-olvc{
    margin-top: 5px;
    font-size: 13px;
}

.btn-naranja{
    border-color: var(--spaceCadet-color);
    border-style: solid;
    background-color: var(--safOranBlOr-color);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    border-radius: 6px;
    padding: 0.5rem;
    margin: 0.3rem 7.5rem;
    width: 130px;
    border: none;
    cursor: pointer;
    
}
.btn-naranja a{
    text-decoration: none;
    color:#ffffff;
}
/*-------------------- |DASHBOARD| ---------------------*/
.main{
    display: flex;
    margin: bottom 0; 
}

.izq{
    padding: 3rem 0;
    width: 25%;
    height: 560px;
    background-color: var(--spaceCadet-color);
}
.izq img{
    margin: 2rem 1.5rem 2rem 1rem;
}

.botones{
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
}

.btn1{
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 4px solid var(--safOranBlOr-color);
    border-radius: 5px;
    
}

.btn1 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.btn2 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.btn3 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.btn2{
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 4px solid var(--safOranBlOr-color);
    border-radius: 5px;
}

.btn3{
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 4px solid var(--safOranBlOr-color);
    border-radius: 5px;
}




/* :::::::::::::::::::::::::::::::::: PARTE LATERAL DERECHA :::::::::::::::::::::::::::::::::::::::: */
.dere{    
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    overflow: hidden;
    z-index: 2;
}

.sesion{
    display: flex;
    padding: 0.5rem 0.5rem;
    width: 220px;
    background-image: linear-gradient(to right, #a5a2a4, #b1aeb0, #bcbabc, #c8c7c9, #d4d3d5, #d4d3d5, #d4d3d5, #d4d3d5, #c8c7c9, #bcbabc, #b1aeb0, #a5a2a4);
    margin: 0 47rem;
    border-radius: 6px;
}


.fa-user1{
    margin: 0 0.5rem;
    border: 3px solid rgb(245, 119, 35);
    background-color: white;
    padding: 0.5rem;
    border-radius: 50%;
}

.sesion p{
    margin-top: 1rem;
}

.dere .form-group{
    margin: 4rem 0;
    text-align: center;
}

.dere .form-group h1{
    font-weight: 400;
    color:rgb(199, 81, 2);
}

.dere input{
    background-color: transparent;
    padding: 0.6rem 1rem;
}

.rellenar{
    margin-top: 4rem;
}

.fa-iconos{
    background-color: rgb(22, 22, 80);
    color: white;
    padding: 0.5rem 1rem;
    margin: 0 0.3rem;
    border: 3px solid #2bb6c0;
    border-radius: 5px;
}

.dere .form-input{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    width: 300px;
}
.main .footer2 img{
    
    bottom: 0;
    width: 40px;
    height: 40px;  
    margin: 0;
}
header{
    display: flex;
    background-color: rgb(63, 62, 62);
}

.logo{
    width: 88%;
    margin: 1rem 0;
}

.iconos{
    width: 12%;
    margin: 1rem 0;

}

.fa-house-user{
    background-color: rgb(218, 216, 216);
    padding: 0.8rem;
    border-radius: 50%;
    border: 3px solid rgb(2, 190, 190);
}

.fa-power-off{
    background-color: rgb(218, 216, 216);
    padding: 0.8rem;
    border-radius: 50%;
    border: 3px solid rgb(2, 190, 190);
}

.franjaNaranja{
    background-image: url(/img/12.\ franja.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height:70px;
    border-bottom: 5px solid rgb(2, 190, 190);
}

/* :::::::::::::::::::::::::::::::::::::: PRIMERA SECCION :::::::::::::::::::::::::::::::::::::::::::::::: */
.encabezado{
    display: flex;
    margin-top: 5rem;
    margin-bottom: 3rem;
    margin-left: 10rem;
}

.encabezado button{
    height: 30%;
    padding: 0.5rem 1rem;
}
.encabezado h1{
    padding: 1rem 15rem;
    font-weight: 500;
    color: rgb(22, 22, 80);
}


.fa-iconos{
    background-color: rgb(22, 22, 80);
    color: white;
    padding: 0.5rem 1rem;
    margin: 0 0.3rem;
    border: 3px solid #2bb6c0;
    border-radius: 10px;
}


.form-input{
    border: 2px solid aqua;
    padding: 0 10px;
    width: 300px;
    height: 35px;
    border-radius: 10px;
}

.iconos a{
    color: black;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::: TABLA :::::::::::::::::::::::::::::::::::::::: */
table.colapsado {
    border-collapse: collapse;
    border-color: #2CA3AB;
    border-style: solid;
    margin: 0 5rem;
}

table{
    overflow: hidden;
}


tr, td, th{
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
}

th{
    padding: 1rem 2rem;
    background-color: rgb(22, 22, 80);
    color: white;
    border: 5px solid #2CA3AB;
    font-weight: 500;
}

td{
    padding: 0.8rem 2rem;
}

table button{
    padding: 0.5rem 1rem;
}

.fa-btn{
    margin-left: 7px;
    text-align: center;
    vertical-align: middle;
}

.btn-azul{
    background-color: #2bb6c0;
    border-radius: 5px;
    border-style: none;
}

.btn-rojo{
    background-color: rgb(185, 2, 2);
    color: white;
    border-radius: 5px;
    border-style: none;
}

.encabezado button{
    background-color: rgb(214, 102, 27);
    border-radius: 5px;
    border: none;
    
}

.encabezado button a{
    text-decoration: none;
    color: white;
}

.fa-user-plus{
    margin-left: 0.5rem;
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: PIE DE PAGINA :::::::::::::::::::::::::::::::::::::::: */
.pie-pagina .grupo-2{
    background-color: #000000e1;
    padding: 15px 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
    font-family: Raleway;
    
}

.pie-pagina{
    margin-top: 3rem;
}
header{
    display: flex;
    background-color: rgb(63, 62, 62);
}

.logo{
    width: 88%;
    margin: 1rem 0;
}

.iconos{
    width: 12%;
    margin: 1rem 0;

}

.fa-house-user{
    background-color: rgb(218, 216, 216);
    padding: 0.8rem;
    border-radius: 50%;
    border: 3px solid rgb(2, 190, 190);
}

.fa-power-off{
    background-color: rgb(218, 216, 216);
    padding: 0.8rem;
    border-radius: 50%;
    border: 3px solid rgb(2, 190, 190);
}

.franjaNaranja{
    background-image: url(/img/12.\ franja.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height:70px;
    border-bottom: 5px solid rgb(2, 190, 190);
}

/* ::::::::::::::::::::::::::::::::::::::::: ENCABEZADO :::::::::::::::::::::::::::::::::::::::::::::::: */
.cuadroAfuera button{
    margin: 1rem 35rem;
    background-color: rgb(214, 102, 27);
    height: 30%;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    border: none;
}

.cuadroAfuera a{
    text-decoration: none;
    color: white;
}

/* ::::::::::::::::::::::::::::::::::::::::: TITULO GENERAL :::::::::::::::::::::::::::::::::::::::::::::::: */

.titulo{
    background-color: rgb(22, 22, 80);
    color: white;
    margin: 0 0.3rem;
    width: 1345px;
    text-align: center;
    border-radius: 5px;
    
}

.titulo h1{
    font-weight: 400;
    padding: 5px 0;
   
}

/* ::::::::::::::::::::::::::::::::::::::::: RECUADROS  :::::::::::::::::::::::::::::::::::::::::::::::: */

.cuadroAfuera{
    border: 2px solid gray;
    margin: 0 0.3rem;
    padding: 3rem;
    width: 1242px;
}

.dentro{
    background-color: rgb(199, 198, 198);
    border: 2px solid rgb(134, 133, 133);
    border-radius: 10px;
    padding: 30px 12px;
}

/* ::::::::::::::::::::::::::::::::::::::::: CONTENIDO  :::::::::::::::::::::::::::::::::::::::::::::::: */
.seccion1{
    display: flex;
    flex-wrap: wrap;
}

.cuadro1 input{
    width: 200px;
    height: fit-content;
    border: 2.8px solid #62A1AA;
    border-radius: 3px;
    padding: 0.5rem;
}

.cuadro1{
    margin-left: 1rem;
    width: 20%;
}

.cuadro2 input{
    padding: 0.5rem;
    font-size: 15px;
    width: 200px;
    height: fit-content;
    border: 2.8px solid #62A1AA;
    border-radius: 3px;
}

.titulo2{
    border: 2px solid #46737F;
    background-color: #62A1AA;
    display: flex;
    padding: 10px 3rem;
    color: white;
    border-radius: 10px;
    margin: 1rem 0;
}

.titulo2 p{
    margin-left: 30rem;
    margin-top: 7px;
    
}

.fa-titulos{
    color: black;
}

.titulo3{
    margin: 1rem 0;
    border: 2px solid #46737F;
    background-color: #62A1AA;
    display: flex;
    padding: 10px 3rem;
    border-radius: 10px;
    color: white;
}

.titulo3 p{
    margin-left: 28rem;
    margin-top: 7px;
}

.titulo4{
    margin: 1rem 0;
    border: 2px solid #46737F;
    background-color: #62A1AA;
    display: flex;
    padding: 10px 3rem;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.titulo4 p{
    margin-left: 30rem;
    margin-top: 7px;
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: DATOS DEL PACIENTE :::::::::::::::::::::::::::::::::::::::: */
.fila1{
    display: flex;
}

.cuadro1-1 input{
    width: 550px;
    height: fit-content;
    border: 2.8px solid #62A1AA;
    border-radius: 3px;
    padding: 0.5rem;
    
}
.cuadro1-1{
    margin-top: 1rem;
    margin-left: 1rem;
    width: 50%;
}

.cuadro1-2 input{
    width: 550px;
    height: fit-content;
    border: 2.8px solid #62A1AA;
    border-radius: 3px;
    padding: 0.5rem;
    
}
.cuadro1-2{
    margin-top: 1rem;
    width:20%;
}

.cuadro1-10{
    display: flex;
    margin: 1rem 0;
}

.cuadro1-12 input{
    display: flex;
    width: 550px;
    height: fit-content;
    border: 2.8px solid #62A1AA;
    border-radius: 3px;
    padding: 0.5rem;
}

.cuadro1-12{
    margin-top: 1rem;
    width:70%;
    margin-right: 2.3rem;
    margin-left: 1rem;
}

.fila2{
    display: flex;
}

.cuadro1-select{
    margin-top: 1rem;
}

select {
    width: 570px;
    position: relative;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    border: 2.8px solid #62A1AA;
    font-weight: 300;   
}

/* ::::::::::::::::::::::::::::::::::::::::::::::: INFO DEL CONTACTO :::::::::::::::::::::::::::::::::::::::: */
.select1{
    margin-right: 2.5rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.select2{
    
    margin-bottom: 0.5rem;
}

.fila3{
    display: flex;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::: estado de salud :::::::::::::::::::::::::::::::::::::::: */
.salud{
    display: flex;
}

#preexistencias{
    width: 380px;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.cuadro1-alergias input{
    width: 340px;
    height: fit-content;
    border: 2.8px solid #62A1AA;
    border-radius: 3px;
    padding: 0.5rem;
    
}
.cuadro1-alergias{
    margin-top: 0.5rem;
    margin-left: 1rem;
    width: 50%;
}

.texto1{
    margin: 0.5rem;
}

.btn-si-no{
    text-align: center;
    margin: 1.5rem;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::: PIE DE PAGINA :::::::::::::::::::::::::::::::::::::::: */
.pie-pagina .grupo-2{
    background-color: #000000e1;
    padding: 15px 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
    font-family: Raleway;
    
}

.pie-pagina{
    margin-top: 3rem;
}

